<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<div class="login">
<%= form_for @user, url: login_path do |f| %>
  <%= f.label :email %>
  <br />
  <%= f.text_field :email %>
  <br />
  <br />
  <%= f.label :password %>
  <br />
  <%= f.password_field :password %>
  <br />
  <br />
  <%= f.submit 'Login' %>
  <% end %>
  <br />
  <br />

  <div class="facebook"><%= link_to("Login with Facebook!", "/auth/facebook") %></div>
</div>
