<%= form_for @user do |f| %>
<%= f.label :email %>
<br />
<%= f.text_field :email %>
<br />
<br />
<%= f.label :password %>
<br />
<%= f.password_field :password %>
<br />
<br />
<%= f.label :password_confirmation %>
<br />
<%= f.password_field :password_confirmation %>
<br />
<br />
<br />
<label>Create a username </label>
<br />
<%= f.text_field :username %>
<br />
<br />
<%= f.label "Type of User?" %>
<%= f.select "role", options_for_select(["user", "moderator", "admin"]), include_blank: false %>
<br />
<br />
<%= f.submit %>
<% end %>
  <% if flash[:alert] %>
    <div class='message'>
      <%= flash[:alert] %>
    </div>
<% end %>
