 <br />
<br />
Get to know your moderators: <%= link_to "Moderators", user_status_users_path %>
<br />
<br />
<div id="active-users"></div>
<br />
<br />
 <%= render :partial => 'form' %>
 <br />
<% @posts.each do |post| %>
  <%= link_to(post.content, post_path(post.id)) %>
  <br />

  by: <%= post.user.username %> on: <%= post.created_at.strftime("%A, %B, %d") %>

  <% if post.user.id == current_user.id || current_user.admin? || current_user.moderator?  %>
    <%= link_to "Edit Post", edit_post_path(post) %>
    <%= link_to "Delete", post, :method => 'delete' %>
    <% end %>
  <hr />

<% end %>
