 <br />
<br />
Get to know your moderators: <%= link_to "Moderators", user_status_users_path %>
<br />
<br />
<p>Users that have been active within the past 7 days</p>
<div id="active-users"></div>
<br />
<br />
 <%= render :partial => 'form' %>
 <br />
<% @posts.each do |post| %>
  <%= link_to post.content, post_path(post.id), :'data-id' => post.id, :class => "posts" %>
  <br />

  by: <%= post.user.username %> on: <%= post.created_at.strftime("%A, %B, %d") %>

  <% if post.user.id == current_user.id || current_user.admin? || current_user.moderator?  %>
    <button id="edit_post" data-id="<%= post.id %>" data-user="<%= post.user.id %>">Edit Post</button>
    <%= link_to "Delete", post, :method => 'delete' %>
    <% end %>
  <hr />

<% end %>

<script>
  $(function() {

  

    function bindEditPostEventListeners() {
      $("button#edit_post").on("click", function(event) {
        event.preventDefault();
        var postId = $(this).data("id");
        var userId = $(this).data("user")
        var postName = `a[data-id="${postId}"]`;
        console.log($(postName).text());
        $(postName).replaceWith(`<input type='text' value="${$(postName).html()}" id="editPostInput" />`);

        $("input#editPostInput").on("keydown", function(event) {
          var updatedPost = this.value

          if(event.key =="Enter") {
            $.ajax({
              method: 'POST',
              dataType: 'JSON',
              url:`/posts/${postId}`,
              data: {_method: "put", post:{content: updatedPost, user_id: userId}}
            }).done(function(response) {

                $("input#editPostInput").replaceWith(`<a data-id="${response.id}" class="posts" href="/posts/${response.id}" >` + response.content + "</a>")

            })

          }
        })

      })

    }



    bindEditPostEventListeners()
  })
</script>
