<h1 id="content" data-id="<%= @post.id %>"><%= @post.content %></h1>


<br />
Comments:
<br />
<div class="comment">
<%= render partial: "posts/comment_content", locals: {post: @post} %>
    <div class="each_comment">
  </div>



</div>
<%= link_to "Next Post", posts_path(@post), :id => "next_button", :'data-id' => @post.id %>

<script id="comment-template" type="text/x-handlebars-template">
  <p id="{{id}}">
    <!-- <img src="" alt="" width="100" height="100/"> -->
    <%= image_tag @current_user.profile.photo_url, :height => "100", :width => "100" %>
    <span class="username"><%= link_to @current_user.username, profile_path(@current_user) %></span>   {{content}}

    <a data-method="get" href="/comments/{{id}}/edit">Edit</a> | <a id="delete_comment" data-post-id="{{postid}}" data-id="{{id}}" rel="nofollow" data-method="delete" href="/comments/{{id}}">Delete</a>

    <br>

  </p>
</script>

<script>
$(function() {


})

</script>
